IDF_ACAG_DAT RCDATA "resource\\ACAG.DAT"
IDF_XPO_DAT RCDATA "resource\\XPO.DAT"
IDF_ARDX_DAT RCDATA "resource\\ARDX.DAT"
IDF_ARRL10_DAT RCDATA "resource\\ARRL10.DAT"
IDF_IOTA_DAT RCDATA "resource\\IOTA.DAT"

